*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #999;
}

/* 구조화 */
#wrap{
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    /* border: 1px solid red; */
}

body {
    background: #bef5ff;
}


/* 상단공간 2022-11-18 Monsoon*/

header{
    background: #fdfdfd;
    box-shadow: 0 1px 3px #ccc;
    opacity: 80%;
    position: fixed;
    top: 0;
    width: inherit; /*wrap에 있는 속성을 상속받겠다*/
    height: 90px;
    z-index: 2000;
}

h1 {
    position: absolute;
    left: 20px;
    top: 20px;
    color: black;
}

nav {
    position: absolute;
    right: 50px;
    top: 18px;
}

nav li a:hover {
    color: #2c3c3f;
}

nav li{
    display: inline-block;
    padding: 20px;
}

/* 하단공간 */
footer{
    background: #607D82;
    /* top: 800px; */
    height: 200px;
    clear: both;
    position: relative;
    color: white;
   
}


footer li:nth-child(1){
    width: 160px;
    float: left;
    position: absolute;
    left: 20px;
    top: 20px;
}

footer li:nth-child(1) p img{
    width: 25px;
    margin: 15px 10px;
}

footer li:nth-child(2){
    width: 200px;
    float: left;
    position: absolute;
    left: 300px;
    top: 20px;
}

footer li:nth-child(2) p img{
    width: 25px;
    margin: 10px 5px;
}

footer li:nth-child(3){
    /* width: 500px; */
    float: left;
    position: absolute;
    right: 50px;
    top: 20px;
}

footer .copy {
    position: absolute;
    bottom: 0;
    background: #525252;
    padding: 10px;
    width: 97.8%;
}

footer .copy p{
   text-align: center;
   color: white;
}

footer li:nth-child(3) input{
    margin: 5px 0  5px  0;
    width: 290px;
    height: 30px;
    padding: 5px;
}

footer li:nth-child(3) button{
    width: 303px;
    height: 35px;
    color: white;
    background: #2c3c3f;
    border: none;
}
